src/conf/xml-resources/web-service-references/GiftCardWebService/wsdl/localhost_8080/GiftCardWebService/GiftCardWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gc/" name="GiftCardWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://gc/" schemaLocation="http://localhost:8080/GiftCardWebService/GiftCardWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccountValue">
<part name="parameters" element="tns:getAccountValue"/>
</message>
<message name="getAccountValueResponse">
<part name="parameters" element="tns:getAccountValueResponse"/>
</message>
<message name="pay">
<part name="parameters" element="tns:pay"/>
</message>
<message name="payResponse">
<part name="parameters" element="tns:payResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<portType name="GiftCardWebService">
<operation name="getAccountValue">
<input wsam:Action="http://gc/GiftCardWebService/getAccountValueRequest" message="tns:getAccountValue"/>
<output wsam:Action="http://gc/GiftCardWebService/getAccountValueResponse" message="tns:getAccountValueResponse"/>
</operation>
<operation name="pay">
<input wsam:Action="http://gc/GiftCardWebService/payRequest" message="tns:pay"/>
<output wsam:Action="http://gc/GiftCardWebService/payResponse" message="tns:payResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://gc/GiftCardWebService/pay/Fault/SQLException"/>
</operation>
</portType>
<binding name="GiftCardWebServicePortBinding" type="tns:GiftCardWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccountValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GiftCardWebService">
<port name="GiftCardWebServicePort" binding="tns:GiftCardWebServicePortBinding">
<soap:address location="http://localhost:8080/GiftCardWebService/GiftCardWebService"/>
</port>
</service>
</definitions>