src/conf/xml-resources/web-service-references/GiftCardWebService/wsdl/localhost_8080/GiftCardWebService/GiftCardWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://gc/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://gc/">

<xs:element name="SQLException" type="tns:SQLException"/>

<xs:element name="getAccountValue" type="tns:getAccountValue"/>

<xs:element name="getAccountValueResponse" type="tns:getAccountValueResponse"/>

<xs:element name="pay" type="tns:pay"/>

<xs:element name="payResponse" type="tns:payResponse"/>

<xs:complexType name="getAccountValue">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountValueResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pay">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SQLException">
<xs:sequence>
<xs:element name="SQLState" type="xs:string" minOccurs="0"/>
<xs:element name="errorCode" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqlException">
<xs:complexContent>
<xs:extension base="tns:exception">
<xs:sequence>
<xs:element name="nextException" type="tns:sqlException" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="exception">
<xs:complexContent>
<xs:extension base="tns:throwable">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>